# dependencies
/node_modules

# next.js build output
/.next/
/out/

# production
/build

# env files
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# TS build cache
tsconfig.tsbuildinfo
*.tsbuildinfo
